<article class="text--justified">
  <header><h2>Instruments</h2></header>

  <table *ngIf="instruments">
    <thead>
    <tr>
      <th>Name</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let instrument of instruments.instruments">
      <td>{{instrument.name}}</td>
      <td>
        <a [routerLink]="['/instruments', instrument.uuid]">View</a>
      </td>
      <td>
        <a [routerLink]="['/instruments', instrument.uuid, 'edit']">Edit</a>
      </td>
      <td>
        <button (click)="onDelete(instrument)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div>
    <button [routerLink]="['/instruments', '', 'edit']" [queryParams]="{ categoryUuid: categoryUuid }">
      Add New Instrument
    </button>
  </div>
</article>

